@import colores
@import mixins
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro")



html, body 
    margin 0
    height 100%
    width 100%
    font-family: 'Source Code Pro'
/* Large */
.box
    height 100%
    width 100%
    flexDisplay()
    flexFlow(row, nowrap)

    .content 
        flexOrder(2)
        overflow auto
    
nav 
    background-color verde
    ul
        margin 0 
        padding 0 24px
        list-style none
        height 100%
        li 
            text-align center
            margin 24px 0
            .fa
                font-size 28px
                color rosa
                cursor pointer

.content
    padding 22px
    background-color carne
    
    h1 
        color marron
    
    #datos-personales
        &>*
            float left
        img 
            width 160px
        .datos-texto
            p 
                margin-left 12px
                .label
                    font-weight bold
    #interest-links
        ul li 
            list-style none  
            margin-bottom 8px          
            a
                line-height 28px
                display inline-block
            i.fa
                font-size 28px
                vertical-align middle
                margin-right 8px
                color rosa
    #historial
        .nodo-historia
            position relative
            padding 0 0 0 44px
            &:after
                clear:both
                content " "
                display block
            &>*
                float left         
            .nodo-circulo
                position absolute
                left 0 
                top 0 
                i.fa
                    font-size 40px
                    cursor pointer
                    background-color carne
                    &:after
                        content " "
                        display block
                        width 4px
                        height 250px
                        background-color black
                        position absolute
                        top 36px
                        left 16px
            &:last-child                
                .nodo-circulo i.fa:after
                    background-color carne
                    height 250px
                    width 100%
                    top 39px
            .nodo-titulo
                color marron
                margin-left 12px
                &:after
                    clear both 
                    display block
                    content " "
                    height 2px
                    width 100%
                .fecha
                    margin-right 6px
                    font-weight bold
                    &:after
                        content ": "
            .nodo-texto
                margin-left 12px
                color naranja
            &:hover
                .nodo-texto 
                    display block
                i.fa 
                    color verde
                    &:after
                        background-color verde
    #personal 
        small 
            color naranja

                
// helper clases
.hide
    display none
.clearfix
    clear both

// chart CSS 
.c3-axis-x .tick 
    display none
    
// media queries
@media (max-width: 640px)
    .box 
        flexFlow(column, wrap)
        nav 
            ul 
                flexDisplay()
                flexJustify(space-around)
    #interest-links
        ul 
            padding 0  
