nav
    display none  
a
    color black

.nodo-circulo
    display none 
  
#conocimientos 
    *
        display none 
small 
    display none
    
#datos-personales
    img 
        float left 
        margin 0 12px

 a:after 
    content: " - "attr(href)
    font-size: 80%;

.clearfix
        clear both
        
@page 
    margin 2.5cm
    