<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width")
        title Jon E. Eguiluz Resume
        link(rel="stylesheet", href="#{path_css}")
        //- Load Font awesome icons
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        //-  Load c3.css 
        link(href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" type="text/css")

    include ./mixins.jade

    body
        .box
            nav
                ul#tab-selector
                    +tabButton("Resumen", "resumen", "fa-user")
                    +tabButton("Experiencia", "experiencia","fa-calendar")
                    +tabButton("Conocimientos", "conocimientos","fa-code")
                    +tabButton("Personal", "personal", "fa-file-text-o")
            .content
                #tabs
                    #resumen
                        h1 Resumen
                        #datos-personales
                            img(src="./img/avatar.jpeg")
                            .datos-texto
                                p 
                                    span.label Nombre:
                                    span  Jon E. Eguiluz 
                                p
                                    span.label Email: 
                                    a(href="mailto:jon.e.eguiluz@gmail.com") jon.e.eguiluz@gmail.com
                                p 
                                    span.label Telefono:
                                    span  +34 696441499
                                p 
                                    span.label Fecha de Nacimiento:
                                    span  30/07/1984
                        .clearfix

                        #interest-links
                            h2 Links de interés:
                            ul
                                li
                                    i.fa.fa-github
                                    a(href="https://github.com/Viroide") github
                                li
                                    i.fa.fa-twitter
                                    a(href="https://twitter.com/viroide") twitter
                                li
                                    i.fa.fa-linkedin
                                    a(href="https://es.linkedin.com/in/jon-e-eguiluz-6b488914") linkedIn

                    #experiencia.hide
                        h1 Experiencia
                        #historial
                            +nodo-historia("07/1984", "Nacimiento", "En este periodo aprendí a gatear, luego a andar y hablar. Hoy en día creo que he alcanzado una maestría en estas áreas.")
                            +nodo-historia("09/1987", "Ikastola Olabide", "Aquí aprendí a leer, matemáticas, algo de histora, empecé con los idiomas... Competencias básicas digamos.")
                            +nodo-historia("09/2001", "Diocesanas Arriaga (2º Bachiller)", "Aquí me preparé la selectividad. Y pude elegir lo que siempre supe que quería hacer: Aprender a darles ordenes complejas a las máquinas. MUAHHAHAH!")
                            +nodo-historia("09/2002", "Mondragón Unibertsitatea (Ing. Tec. Informática de Sistemas)", "Se me revelaron las bases de la informática. Arquitectura de Software y Desarrollo Web eran mis asignaturas favoritas.")
                            +nodo-historia("09/2006", "Erasmus en Polonia", "Proyecto de fin de carrera. El proyecto consistía en monitorizar una red y dar alarmas si algo dejaba de responder, luego descubrí Nagios. Polska dzięki!")
                            +nodo-historia("09/2007", "Mediateca Arriga Diocesanas", "Mi primer trabajo, mientras terminaba ciertos trámites con la universidad. Aquí adquirí paciencia y mano izquierda.")
                            +nodo-historia("09/2008", "Alegría-activity", "Trabajo en el que aprendí que hay que saber de todo en esta vida: Desde crear webs a taladrar una mesa para pasar un cable hasta la pantalla. ")
                            +nodo-historia("12/2010", "Buala.net", "Adquirí conocimientos reales de desarrollo web. Y me enamoré del webDev y como algunos dicen me hice un jsHipster")
                            +nodo-historia("11/2015", "...", "Escucho ofertas.")
                                        
                    #conocimientos.hide
                        h1 Conocimientos 
                        h2 Competencias de desarrollo web
                        #chart-holder
                            #chart
                        h2 Competencias transversales
                        #chart-holder-2
                            #chart2
                    #personal.hide
                        h1 Personal
                        #personal
                            p
                                small.
                                    Esta sección es solo para que me conozcas un poco, si solo te interesan los datos cuantitativos vuelve al resto de pestañas.
                            
                            


        script(src="#{path_js}")
        script.
            window.onload = function() {
                myCv.bootstrap();
            };
        if livereload
          script(src="http://localhost:35729/livereload.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.8/d3.min.js" charset="utf-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js")
