<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        title Jon E. Eguiluz Resume
        link(rel="stylesheet", href="#{path_css}")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        //-  Load c3.css 
        link(href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" type="text/css")

    include ./mixins.jade

    body
        .box
            nav
                ul#tab-selector
                    li
                        span.text Resumen
                        i(tab="tab1").fa.fa-user
                    li
                        span.text Experiencia
                        i(tab="tab2").fa.fa-calendar
                    li 
                        span.text Conocimientos
                        i(tab="tab3").fa.fa-code
                    li
                        span.text Personal
                        i(tab="tab4").fa.fa-file-text-o
            .content
                #tabs
                    #tab1
                        h1 Resumen
                        #datos-personales
                            img(src="./img/avatar.jpeg")
                            .datos-texto
                                p 
                                    span.label Nombre:
                                    span  Jon E. Eguiluz 
                                p
                                    span.label Email: 
                                    a(href="mailto:jon.e.eguiluz@gmail.com") jon.e.eguiluz@gmail.com
                                p 
                                    span.label Telefono:
                                    span  +34 696441499
                                p 
                                    span.label Fecha de Nacimiento:
                                    span  30/07/1984
                        .clearfix

                        #interest-links
                            h2 Links de interes:
                            ul
                                li
                                    i.fa.fa-github
                                    a(href="https://github.com/Viroide") https://github.com/Viroide
                                li
                                    i.fa.fa-twitter
                                    a(href="https://twitter.com/viroide") https://twitter.com/viroide
                                li
                                    i.fa.fa-linkedin
                                    a(href="https://es.linkedin.com/in/jon-e-eguiluz-6b488914") https://es.linkedin.com/in/jon-e-eguiluz-6b488914

                    #tab2.hide
                        h1 Experiencia
                        #historial
                            +nodo-historia("07/1984", "Nacimiento")
                            +nodo-historia("09/1987", "Ikastola Olabide")
                            +nodo-historia("09/2001", "Diocesanas Arriaga (2º Batchiller)")
                            +nodo-historia("09/2002", "Mondragón Unibertsitatea (Ing. Tec. Informática de Sistemas)")
                            +nodo-historia("09/2006", "Erasmus en Polonia")
                            +nodo-historia("09/2007", "Mediateca Arriga Diocesanas")
                            +nodo-historia("09/2008", "Alegría-activity")
                            +nodo-historia("12/2010", "Buala.net")
                            +nodo-historia("11/2015", "...")
                                        
                    #tab3.hide
                        h1 Conocimientos
                        #chart-holder
                            #chart
                    #tab4.hide
                        h1 Personal

        script(src="#{path_js}")
        script.
            window.onload = function() {
                myCv.bootstrap();
            };
        if livereload
          script(src="http://localhost:35729/livereload.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.8/d3.min.js" charset="utf-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js")
