mixin nodo-historia(fecha, texto)
    .nodo-historia
        .nodo-circulo
            i.fa.fa-circle-o
        .nodo-texto
            p 
                span.fecha= fecha
                span= texto
